//--------------------------COLORS--------------------------//
$lightYellow: #fee880;


//--------------------------FONTS--------------------------//
@font-face {
  font-family: 'Arial Rounded MT Bold';
  src: local('Arial Rounded MT Bold'), url(../fonts/arlrdbd.ttf) format('truetype');
}