@import './style/variables.scss';
@font-face {
  font-family: 'Arial Rounded MT Bold';
  src: local('Arial Rounded MT Bold'), url(./fonts/arlrdbd.ttf) format('truetype');
}

.div{
    font-family: Arial Rounded MT Bold;
}